@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Raleway:wght@200&family=Roboto&display=swap');

.header {
  background-color: rgb(96, 79, 124);
  padding: 0 50px 0 50px;
  height: 20vh;
  font-family: 'Raleway', sans-serif;
}

#navbarNav {
  justify-content: flex-end;
}

.navbar-brand:hover {
  transform: scale(1.3);
  transition: all 0.3s;
}
.header .nav-link {
  color: #e7c5f7;
}
.header .nav-link:hover {
  transform: scale(1.3);
  transition: all 0.3s;
}

.main {
  height: 65vh;
  background-color: #e7c5f7;
}
.carousel{
    height: 100%;
    width: 100%;
}
.nezuko {
  max-width: 100%;
  max-height: 100%;
}

.h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
}
.p {
  text-align: justify;
  font-family: 'Raleway', sans-serif;
  padding: 1rem;
}

.footer {
  height: 15vh;
  background-color: rgb(96, 79, 124);
  padding: 60px;
}
.icons {
  text-align: center;
  size: 20px;
}

footer i {
  color: #e7c5f7;
  padding: 5px;
  font-size: 30px;
  border: 1px solid #e7c5f7;
  border-radius: 10px;
}
footer i:hover {
  transform: scale(1.3);
  transition: all 0.3s;
}
